<?php
/**
 * Copyright © 2015 employeecommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Employee\Listingresult\Block\Index\Index
 */


echo $block->hello;
?>
<br/>
<?php
$collection = $this->getHelloCollection();
print_r($collection);
?>